@keyframes pan {
  0% { transform: translateX(0%); }
  100% {
    transform: translateX(105%) scaleX(1.3);
    opacity: 0.4;
  }
}

@keyframes panNoFade {
  0% { transform: translateX(0); }
  100% {
    transform: translateX(375px) scaleX(1.1);
  }
}

@import '_clear-day';
@import '_partly-cloudy';
@import '_cloudy';
@import '_rain';
@import '_snow';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.weather-container {
  position: relative;
  width: 375px;
  height: 320px;
  margin: 4%;
  overflow: hidden;
  box-shadow: 0 50px 100px rgba(50,50,93,.05),
              0 15px 35px rgba(50,50,93,.1),
              0 5px 15px rgba(0,0,0,.1);
}
